h1,h2,h3,h4 {
    font-size: 100%;
    font-weight: normal !important;
    background: #D30142;
    color: #FFF;
    padding: 2em;
}

body {
    margin: 50px;
    color: #D30142;
	font-family: 'Arial';
    font-weight: normal !important;
    text-transform: uppercase;
}

.color1 {
    color: #D30142;
}

.style1,.style2,.style3,.style4 {
    padding: 2em;
    margin-bottom: 1em;
}

.style4 {
    font-size: 100%;
    font-weight: normal !important;
    background: #D30142;
    color: #FFF;
    padding: 2em;
    border: none;
    text-transform: uppercase;
}

.style1 {
    color: #404042;
    background: #F3F3F5;
    padding: 1em;
    font-family: Ubuntu;
    text-transform: none;
}

.style2 {
    border: 1px solid #71263B;
    padding: 2em;
    font: Ubuntu;
    text-transform: none;
    color: #000;
}

.style3 {
    font-family: Ubuntu;
    text-transform: none;
    padding: 2em;
    color: #000;
}

li {
    display: inline-block;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #404042;
    border: 1px solid #D30142;
    border-radius: 4px;
    font-weight: bold;
}

.blood_status {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #404042;
    border: 1px solid #999999;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blood_status div {
    display: inline-block;
}

.blood_status .type {
    width: 20%;
    text-align: center;
    float: left;
}

.blood_status .level {
    width: 80%;
}

.blood_status .negative {
    background: #F3F3F5;
}

.red .type {
    color: #E4392F;
}

.red .level {
    background: #E4392F;
}

.yellow .type {
    color: #FFB612;
}

.yellow .level {
    background: #FFB612;
}

.green .type {
    color: #30B132;
}

.green .level {
    background: #30B132;
}

/* Qoyyuum added new style here */
.submit {
	padding: 15px 15px 15px 15px;
	background: #5D6464;
	border: gray 1px solid;
	border-radius: 7%;
	text-transform: capitalize;
	font-weight: bold;
	font: Ubuntu;
	color: white;
	float: right;
}

textarea .updatePreview {
	padding: 15px 15px 15px 15px;
	width: 100%;
}

.newheader {
	background: black;
	padding: 25px;
	border-bottom: #D30142 5px solid;
	height: 50px;
	
}

.newheader li {
	float: left;
	color: white;
	width: 30%;
	border: black 1px solid !important;
}

.newheader li a {
	text-decoration: none;
	color: inherit;
}

form {
	clear: left;
	background-color: #D3D3D3;
}

#message_preview {
	border: 1px solid #ccc;
	padding: 5px;
	background-color: white;
}
		
#message_preview li {
	display: inline-block;
	width: 20%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #404042;
	border: 1px solid #D30142;
	border-radius: 4px;
	font-weight: bold;
}